.container {
    /* display: grid; */
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    /* grid-template-columns: 500px 500px; */
    grid-template-rows: 500px 500px;
    row-gap: 100px;
    column-gap: 100px;
    justify-content: center;
}
.run {
    
    height: 100%;
    width: 100%;
    /* justify-content: center; */
    /* box-sizing: border-box; */
    border-radius: 30px;
    /* grid-template-columns: 500px 500px; */
    /* grid-template-rows: 100px 100px; */
}
.boxes {
    /* display: grid; */
    /* box-sizing: border-box; */
    /* grid-template-columns: 500px 500px; */
    /* row-gap: 100px; */
    /* gap: 100px; */
    /* height: 500px; */
    /* width: 500px; */
    
    
}